header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
header .navbar-brand {
    display: inline-block;
    width: 70px;
}
header .navbar-nav .nav-link {
    margin: 0 10px;
    color: var(--carBlack-color--);
    font-weight: 300;
    font-size:15px ;
}
header .navbar-nav .nav-link.active,
header .navbar-nav .nav-link:hover{
    color: var(--carPrimary-color--);
}
header .navbar-nav .nav-link.contact{
    color: var(--carPrimary-color--);
    font-weight: 500;
}

/* header .navbar-nav .nav-link.ctm-btn {
    background:var(--carPrimary-color--);
    padding: 15px 33px;
    border-radius: 4px;
    color: var(--carWhite-color--);
} */
.ctm-btn{
    background:var(--carPrimary-color--);
    padding: 15px 33px;
    font-size: 16px;
    border-radius: 4px;
    color: var(--carWhite-color--);
}
.ctm-btn svg{
    margin-right: 10px;
}
header .nav-item a {
    position: relative;
}
header .nav-item a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background: var(--carPrimary-color--);
    left: 0;
    bottom: 0px;
    border-radius: 4px;
    transition: ease 0.3s;
}

header .nav-item a.active::after,
header .nav-item a:hover::after{
    width: 100%;
}