footer{
    /* background: url(../../assets/images/footer_bg.png) no-repeat; */
    color: var(--carWhite-color--);
    /* background-size: cover; */
    background: var(--carBlack-color--);
}
footer p {
    font-size: 18px;
    font-weight: 500;
}
a{
    color: var(--carWhite-color--);
}
ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
.footer-logo {
    width: 100px;
    margin-bottom: 20px;
}
/* footer .news-cont {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
} */
.f-top{
    padding: 90px 0;
}
input.f-mail {
    padding: 17px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    background: #273c66;
    border: none;
    margin: 18px 0;
    color: var(--carWhite-color--);
}
input.f-mail::placeholder {
    color: #fff;
}
/* .f-btn {
    background: #fff;
    color: #0c2453;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
} */
.social {
    /* width: 28px; */
    display: inline-block;
    margin-right: 10px;
}
.copyright ul{
    display: flex;
}

.copyright ul li{
    margin-right:20px ;
}

.copyright .right {
    display: flex;
    justify-content: end;
}

.copyright {
    border-top: 1px dashed;
    padding: 29px 0px;
}





/* footer::after {
    content: "";
    position: absolute;
    border-right: 906px solid transparent;
    border-left: 990px solid transparent;
    left: 0;
    top: -90px;
    border-bottom: 90px solid #0d214a;
    border-top: 0 solid transparent;
    right: 0;
} */