<footer>
    <div class="container">
        <div class="f-top">
            <div class="row">
                <div class="col-md-5">
                    <div class="footer-logo">
                        <img src="../../assets/images/f-logos.svg" alt="">
                    </div>
                    <div class="f-content">
                        <p>(122)-236-5365</p>
                        <p>Section 1.10.32 of "de Finibus , MI 48666 </p>
                        <p><a href="">info@transport car.au</a></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <p>Quick link</p>
                    <ul>
                        <li><a href="">How It Works</a></li>
                        <li><a href="">For Individuals</a></li>
                        <li><a href="">For Businesses</a></li>
                        <li><a href="">Why Chose us</a></li>
                        <li><a href="">FAqs</a></li>
                    </ul>
                </div>
                <div class="col-md-4 offset-1">
                    <p>Newsletter</p>
                    <p class="news-cont">Sed ut perspiciatis unde omnis iste natus error sit volupta
                        tem accusantium doloremque laudantium.</p>
                        <input type="text" class="f-mail" placeholder="Enter your email">
                        <a href="" class="f-btn">Subscribe</a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><a href="">© 2023, Car Transport</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-6 right">
                    <ul>
                        <li><a href="">© 2023, Car Transport</a></li>
                        <li><a href="">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>