<section>
    <div class="container">
      <div class="stepper-wrapper">
        <ul>
          <li>
            <div class="stepper-item">
              <div class="circle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
              </div>
              <div class="content">Select a Route</div>
            </div>
          </li>
          <li>
            <div class="stepper-item">
              <div class="circle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
              </div>
              <div class="content">Finish</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
<section class="vehicle-details-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ctm-form">
                    <div class="form-title">
                        <h2>Fill the Form</h2>
                    </div>
                    <form [formGroup]="vehicleBooking" (ngSubmit)="bookingVehicle()">
                        <div class="mb-3 ctm-field">
                            <img src="../../assets/images/mail.svg" alt="">
                            <input type="text" class="form-control" placeholder="Johnsarika678@gmail.com" formControlName="email">
                            <span class="error-msg" *ngIf="vehicleBooking.get('email')?.pristine  && vehicleBooking.get('email')?.touched">This field is required</span>
                            <span class="error-msg" *ngIf="vehicleBooking.get('email')?.invalid && vehicleBooking.get('email')?.touched && vehicleBooking.get('email')?.dirty">Please Valid Email</span>
                        </div>
                        <div class="mb-3 ctm-field">
                            <img src="../../assets/images/phone.svg" alt="">
                            <input type="text" class="form-control" placeholder="(223)-456-7899" formControlName="phoneNo">
                            <span class="error-msg" *ngIf="vehicleBooking.get('phoneNo')?.pristine && vehicleBooking.get('phoneNo')?.touched">This field is required</span>
                            <span class="error-msg" *ngIf="vehicleBooking.get('phoneNo')?.invalid && vehicleBooking.get('phoneNo')?.touched && vehicleBooking.get('phoneNo')?.dirty">Please Enter 10 Digit NO.</span>
                        </div>
                        <div class="mb-3 ctm-field">
                            <img src="../../assets/images/year.svg" alt="">
                            <input type="text" class="form-control" placeholder="Enter Year" formControlName="year">
                            <span class="error-msg" *ngIf="vehicleBooking.get('year')?.pristine && vehicleBooking.get('year')?.touched">This field is required</span>
                            <span class="error-msg" *ngIf="vehicleBooking.get('year')?.invalid && vehicleBooking.get('year')?.touched && vehicleBooking.get('year')?.dirty">Please Enter 4 Digit Valid Year.</span>
                        </div>
                        <div class="mb-3 ctm-field">
                            <img src="../../assets/images/point.svg" alt="">
                            <input type="text" class="form-control" placeholder="Enter Make" formControlName="make">
                            <span class="error-msg" *ngIf="vehicleBooking.get('make')?.invalid && vehicleBooking.get('make')?.touched">This field is required</span>
                        </div>
                        <div class="mb-3 ctm-field">
                            <img src="../../assets/images/carmodel.svg" alt="">
                            <input type="text" class="form-control" placeholder="Enter Make" formControlName="model">
                            <span class="error-msg" *ngIf="vehicleBooking.get('model')?.invalid && vehicleBooking.get('model')?.touched">This field is required</span>
                        </div>
                        <button type="submit" class="ctm-btn">Continue</button>
                        <div class="mb-3 ctm-field">
                            <p>By providing your phone number or e-mail address, you agree to receive automated promotional messages and authorize us to make or initiate sales calls to that phone number or email address. This agreement isn't a condition of any purchase of any products, goods or services. ‘The Terms & Condition and the Privacy Policy can be found at nexusautotransport.com. Msg & data rates may apply.</p>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="ctm-form sm-form">
                    <div class="form-title disable">
                        <h2>Route details</h2>
                        <p><a href="javascript:void(0)" routerLink="/home"><img src="../../assets/images/pencil.svg" alt="">Edit</a></p>
                    </div>
                    <div class="diableField-wrapper">
                        <div class="field">
                            <span><img src="../../assets/images/location-from.svg" alt=""> From</span>
                            <h2>{{carRoute.from_locaton}}</h2>
                        </div>
                        <div class="field">
                            <span><img src="../../assets/images/location-to.svg" alt=""> To</span>
                            <h2>{{carRoute.to_locaton}}</h2>
                        </div>
                        <div class="field">
                            <span><img src="../../assets/images/calendar.svg" alt=""> Within 7 days</span>
                            <h2>{{carRoute.time}}</h2>
                        </div>
                        <div class="field">
                            <span><img src="../../assets/images/car.svg" alt=""> Vehicle</span>
                            <h2>{{carRoute.cartype}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>