<section class="privacyPolicy-section section">
    <div class="container">
        <h1>SPEEDY WAY AUTO TRANSPORT - PRIVACY POLICY</h1>
        <p>Speedy Way Auto Transport is committed to ensuring your privacy is protected at all times during your
            use of the Site. Please take the time to read over our Privacy Policy (“Policy”) carefully, so you have a
            complete understanding of how we collect, use, and disclose the personal information you provide to us.
            If you do not agree with our policies and practices, your choice is not to use our website
            <a class="text-primary text-decoration-underline" href="javascript:void(0)" routerLink="">www.speedywayus.com</a>
        </p>
        <p>Speedy Way Auto Transport and the Website will continue to grow and improve to better serve you;
            therefore, our Privacy Policy is subject to change and we encourage you to review our Policy each time
            you visit the Website. This Privacy Policy only applies to information collected online on the Website.
        </p>
        <div class="wrapper mt-5">
            <h3>INFORMATION WE COLLECT :</h3>
            <p>Throughout your engagement with our website or services, we may collect personal information from
                both carriers and customers, which may include:
                </p>
            <ol>
                <li><strong>Contact Information :</strong> This incorporates, but is not limited to, your name, address, email address, and phone number.</li>
                <li><strong>Shipment Details :</strong> Information crucial to the transportation process, covering pick-up and delivery locations.</li>
                <li><strong>Payment Information :</strong>Data necessary for billing and facilitating payment transactions. This includes payment preferences and methods.</li>
                <li><strong>Communication Data :</strong> All correspondence and communication exchanged between you and Speedy
                    Way Auto Transport. This encompasses messages, emails, and any other forms of communication related
                    to the transportation services.
                </li>
                <li><strong>Vehicle Details for Carriers :</strong>
                    Carriers may be required to provide specific information about the vehicles they transport, including vehicle identification numbers (VINs), dimensions, weight, and other 
                    relevant details.
                </li>
                <li><strong>Bill of Lading :</strong>
                    For both carriers and customers, a Bill of Lading is issued at the point of origin and/or
                    destination. This document details the condition of the shipment, serving as a receipt and, for carriers, as
                    a contract of transportation. It includes information such as the type and condition of the vehicle,
                    pick-up and delivery locations, and any pre-existing damage.                 
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3> HOW WE USE YOUR INFORMATION :</h3>
            <p>At Speedy Way Auto Transport, the information we collect from both carriers and customers serves
                various essential purposes, including:
                </p>
            <ol>
                <li><strong>Processing and Fulfilling Transportation Requests :</strong> 
                    <ol>
                        <li><strong><span>- For Carriers :</span></strong>
                            Your details, along with the specific information about the shipment, are used to match
                            you with appropriate transportation requests and facilitate the transportation process.
                        </li>
                        <li><strong><span>- For Customers :</span></strong>
                            Your information aids in coordinating the transportation of your vehicle, ensuring a
                            seamless and efficient experience.                           
                        </li>
                    </ol>
                </li>
                <li><strong>Communication Regarding Shipments :</strong>
                    Carriers and customers will receive updates, notifications, and relevant communication regarding the
                    status of their shipments. This includes information about pickup and delivery times, any delays, and
                    other essential details.                    
                </li>
                <li><strong>Customer Support and Inquiry Resolution :</strong>
                    We use your information to provide effective customer support and address any inquiries or concerns
                    you may have. This involves responding to messages, resolving issues, and ensuring a satisfactory
                    experience.
                </li>
                <li><strong>Service Improvement and User Experience Enhancement :</strong>
                    Analyzing the data collected allows us to identify areas for improvement in our services. This may
                    involve optimizing transportation processes, enhancing website functionality, and tailoring our services
                    to better meet the needs of carriers and customers alike.
                </li>
                <li><strong>Billing and Payment Processing :</strong>
                    Information related to payment preferences, billing, and payment transactions is utilized for processing
                    payments accurately and efficiently. This ensures a smooth financial transaction process for both carriers
                    and customers.                    
                </li>
                <li><strong>Marketing Communications :</strong>
                    Your contact information, such as your email address, may be utilized to send you marketing
                    communications. These communications could include newsletters, promotional offers, and updates
                    about our services.
                </li>
                <li><strong>Personalized Marketing :</strong>
                    We may analyze the data we collect to provide personalized marketing content tailored to your
                    preferences, interests, and usage patterns. This helps us enhance your overall experience and ensure the
                    relevance of the information we share
                </li>
                <li><strong>Targeted Advertising :</strong>
                    Information related to your shipment details and preferences may be used to deliver targeted
                    advertising. This could include advertisements for our services, promotions, or other relevant content
                    across various platforms.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3> INFORMATION SHARING AND DISCLOSURE :</h3>
            <p>At Speedy Way Auto Transport, we prioritize the responsible handling of your personal information.
                Here's how we share and disclose such information:
                </p>
            <ol>
                <li><strong>Third-Party Carriers :</strong>  Your personal information, particularly shipment details, is shared with third-party carriers directly
                    involved in the transportation of your vehicle. This is essential for coordinating and fulfilling
                    transportation requests.</li>
                <li><strong>Service Providers :</strong>  We may engage service providers to assist in various aspects of our business operations, including
                    payment processing and customer support. These service providers are bound by confidentiality
                    agreements and are authorized to use your information only for specified purposes.</li>
                <li><strong>Legal Compliance :</strong>
                    In certain situations, we may disclose your personal information to legal authorities when required to
                    comply with the law or protect our rights. This includes situations where disclosure is necessary for
                    regulatory compliance or responding to legal processes.
                </li>
                <li><strong>No Sale or Rent of Personal Information :</strong>  Speedy Way Auto Transport does not engage in the sale or rental of your personal information to
                    third parties for marketing purposes. Your privacy is a priority, and your information is treated with the
                    utmost confidentiality</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>SECURITY</h3>
            <p>We take robust measures to secure your personal information; however, it's important to note that no
                method of transmission over the internet or electronic storage is completely foolproof. While we
                implement stringent security protocols, we cannot guarantee absolute security. Our commitment is to
                continuously assess and enhance our security measures to protect your data from unauthorized access
                or misuse. If you have specific security-related inquiries, please refer to our detailed security practices or
                contact us for further information.
                </p>
        </div>
        <div class="wrapper">
            <h3>PRIVACY DISCLOSURES FOR CALIFORNIA RESIDENTS :</h3>
            <p>This section applies to you if you are a resident of the state of California and provides additional
                information about how we collect, use, disclose and otherwise process Personal Information of
                individual residents of the state of California within the scope of the California Consumer Privacy Act of
                2018 ("CCPA"). In addition to our Personal Information processing activities relating to our Services, this
                section also addresses Personal Information we may process offline.</p>
            <p>For purposes of this section, "Personal Information" means information that identifies, relates to,
                describes, is reasonably capable of being associated with, or could reasonably be linked, directly or
                indirectly, with a particular consumer or household. It does not include information that is made publicly
                available from government records, that is aggregated such that it is not capable of being associated
                with you, or that is otherwise excluded from the CCPA's scope. This section also does not apply to
                information relating to our employees, contractors, applicants and other personnel.
            </p>
        </div>
        <div class="wrapper">
            <h3>DATA PROTECTION RIGHTS UNDER GDPR :</h3>
            <p>Speedy Way Auto Transport is committed to ensuring fair and transparent processing. That is why it is
                important to us that data subjects can not only exercise their right to object but also the following rights
                where the respective legal requirements are satisfied:
            </p>
            <ol>
                <li>Right to information, Art. 15 of the GDPR</li>
                <li>Right to correction, Art. 16 of the GDPR</li>
                <li>Right to deletion (“Right to be forgotten”), Art. 17 of the GDPR</li>
                <li>Right to limit processing, Art. 18 of the GDPR</li>
                <li>Right to data transmissibility, Art. 20 of the GDPR</li>
                <li>Right to object, Art. 21 of the GDPR</li>
            </ol>
            <p>To exercise your right, please contact us as indicated in the "Contact Us" section below</p>
        </div>
        <div class="wrapper">
            <h3>DATA RETENTION</h3>
            <p>We retain information for as long as your account is active or as needed to provide Products or services.
                We will also retain and use information as necessary to comply with our legal obligations, resolve
                disputes, and enforce our agreements.
                </p>
        </div>
        <div class="wrapper">
            <h3>CHILDREN'S PRIVACY :</h3>
            <p>We do not knowingly collect, maintain, or use personal information from children under 13 years of age,
                and our Products are not directed to children under the age of 13. If you learn that your child has
                provided us with personal information without your consent, you may alert us at
                <a class="text-primary text-decoration-underline" href="mailto:info@speedywayus.com">info@speedywayus.com</a>. If we learn that we have collected any personal information from children
                under 13, we will promptly take steps to delete such information and terminate the child’s account.</p>
        </div>
        <div class="wrapper">
            <h3>CHANGES TO OUR PRIVACY POLICY AND PRACTICES :</h3>
            <p>We may revise this Privacy Policy, so we encourage you to review it periodically. If you continue to visit
                Speedy Way Auto Transport or use our Products after such changes have been made, you hereby provide
                your consent to the changes.
            </p>
            <p><strong>Posting of Revised Privacy Policy.</strong>
                We will post any adjustments to the Privacy Policy on this web page, and the revised version will be effective when it is posted. If you are concerned about how your
                information is used, bookmark this page and read this Privacy Policy periodically
            </p>
        </div>
        <div class="wrapper">
            <h3>CONTACT INFORMATION FOR PRIVACY ISSUES :</h3>
            <p><a class="text-primary text-decoration-underline" href="mailto:info@speedywayus.com">info@speedywayus.com</a></p>
        </div>
    </div>
</section>