.success {
  padding: 145px 0;
  text-align: center;
  background: var(--formBg-color--);
}

.stepper-wrapper ul {
  display: flex;
}

.stepper-wrapper ul li {
  margin-right: 115px;
  position: relative;
}

.stepper-wrapper ul li:last-child {
  margin-right: 0;
}

.stepper-wrapper {
  width: 310px;
  margin: 50px auto;
}

.stepper-wrapper svg {
  color: #fff;
}

.stepper-wrapper ul li::after {
  content: "";
  position: absolute;
  right: -100px;
  width: 100%;
  height: 5px;
  background: #4BAE4F;
  top: 33%;
  border-radius: 10px;
}

.stepper-wrapper ul li:last-child::after {
  content: none;
}

.stepper-wrapper .circle {
  width: 70px;
  height: 70px;
  background: #4BAE4F;
  border-radius: 50%;
  padding: 12px;
  margin: auto;
  margin-bottom: 10px;
}

.stepper-wrapper .content {
  text-align: center;
}



.circles {
  height: 450px;
  position: relative;
  width: 450px;
  background: var(--carPrimary-color--);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circles > div {
  animation: growAndFade 3s infinite ease-out;
  background-color: dodgerblue;
  border-radius: 50%;
  height: 50%;
  opacity: 0;
  position: absolute;
  width: 50%;
}
.circles .circle1 {
  animation-delay: 1s;
}
.circles .circle2 {
  animation-delay: 2s;
}
.circles .circle3 {
  animation-delay: 3s;
}

@keyframes growAndFade {
  0% {
    opacity: 0.25;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}