/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --carPrimary-color-- : #0C2453;
    --carSecondery-color-- :#5B6573;
    --carSeconderyLight-color-- :#acb5c5;
    --carWhite-color-- :#fff;
    --carBlack-color-- : #000;
    --formBg-color-- :#F4F7FB;
    --border-color-- : #E0E0E0;
    --bgLight-color-- : #F5F7FA;
    --carOrang-color-- : #FC684E;
    --carGreen-color-- : #4BAE4F;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
}
.grid-gap{
    grid-row-gap:22px ;
}
.carBgLight{
    background: var(--bgLight-color--);
}
.section{
    padding: 100px 0;
}
section h2 {
    color: var(--carPrimary-color--);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 23px;
}
section p {
    color: var(--carSecondery-color--);
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 50px;
}
.ctm-btn {
    background: var(--carPrimary-color--);
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 500;
    color: var(--carWhite-color--);
    font-size: 20px;
}
.ctmOrange-btn {
    background: var(--carOrang-color-- );
    padding: 6px 16px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}
.ctmOrangeTrans-btn {
    background: var(--carWhite-color--);
    padding: 6px 16px;
    color: var(--carOrang-color-- );
    margin-left: 15px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}
.card-item{
    border: 1px solid var(--border-color--);
    padding: 40px;
    border-radius: 10px;
}
.card-item .card-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--carPrimary-color--);
    font-family: Poppins;
    margin-bottom: 23px;
}
.card-title span {
    margin-left: 30px;
    vertical-align: text-bottom;
}
.card-title span img {
    margin-right: 3px;
    width: 16px;
}
.card-item .card-body{
    font-weight: 300;
    font-size: 15px;
    color: var(--carSecondery-color--);
    margin-bottom: 20px;
}
.card-item .card-footer{
    font-size: 15px;
    font-weight: 300;
    color: var(--carSeconderyLight-color--);
}

/* form section css start=============== */
.ctm-form {
    background: var(--formBg-color--);
    padding: 37px 60px;
}
.ctm-field {
    position: relative;
}
.ctm-field .form-control:focus,
.ctm-form .form-select:focus{
    box-shadow: none;
}
.error-msg {
    color: #ff1313;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
}
input.ng-touched.ng-invalid {
    box-shadow: 0px 0px 7px -3px #ff1313;
}
.ctm-field img {
    width: 23px;
    position: absolute;
    left: 12px;
    top: 16px;
    z-index: 1;
}
.ctm-field p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;
}
.disable{
    display: flex;
    justify-content: space-between;
}
.form-title h2 {
    font-size: 24px;
    font-weight: 700;
}
.form-title p {
    color: #4BAE4F;
    font-size: 20px;
    font-weight: 400;
}
.form-title img {
    width: 24px;
    margin-right: 5px;
}
.ctm-form.sm-form{
    max-width: 450px;
    margin-left: auto;
}
.ctm-form .form-control,
.ctm-form .form-select {
    border: none;
    border-radius: 0;
    padding: 15px 56px;
}
form .ctm-btn {
    background: var(--carOrang-color--);
    padding: 8px 10px;
    border: none;
    width: 100%;
    color: #fff;
}

.field {
    background: var(--carWhite-color--);
    padding: 32px;
    margin-bottom: 15px;
}
.field h2 {
    margin: 0;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
.field img {
    width: 22px;
    margin-right: 5px;
}
/* form section css end=============== */

/* banner section css start============== */
.banner-section{
    background: url(../src/assets/images/banner-img.png) center no-repeat;
    background-size: cover;
}
.banner-section h1 {
    color: var(--carWhite-color--);
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 20px;
}
.banner-section h3 {
    color: var(--carWhite-color--);
    font-size: 20px;
    font-weight: 700;
}


/* banner section css end============== */

/* step-section section css start=================== */
.step-section .card-item{
    background: var(--carWhite-color--);
    border: none;
    text-align: center;
}
.step-section .card-icon {
    background: var(--carPrimary-color--);
    width: 120px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    padding: 25px;
    height: 120px;
}
/* step-section section css end===================  */

/* quote-section css start============= */
.quote-section{
    background: var(--carPrimary-color--);
    color: var(--carWhite-color--);
}
.quote-section h2{
    color: var(--carWhite-color--);
}
.quote-btn-wrapper {
    display: flex;
    justify-content: end;
}
/* quote-section css end============= */

/* transport-service-section css start============ */
.transport-service-section .card-icon {
    width: 70px;
    margin-bottom: 13px;
}
.transport-service-section .transContent{
    padding-left: 50px;
}
/* transport-service-section css end============ */

/* frequentlyquestions-section css start ============== */
.qns-wrapper {
    height: 400px;
}
/* frequentlyquestions-section css end ============== */

/* latest-stories-section css start============= */
.latest-stories-section .story-item {
    background: var(--bgLight-color--);
    padding: 15px;
    padding-bottom: 30px;
}

.latest-stories-section .s-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--carSecondery-color--);
    line-height: 28px;
    margin-bottom: 15px;
    margin-top: 26px;
}

.latest-stories-section .s-desc{
    font-size: 15px;
    font-weight: 300;
    color: var(--carSecondery-color--);
}
/* latest-stories-section css end============= */
