<section class="termConditon-section section">
    <div class="container">
        <h1>SPEEDY WAY AUTO TRANSPORT - TERMS AND CONDITIONS</h1>
        <p>Thank you for choosing Speedy Way Auto Transport. Your use of our website and services is subject to
            the following Terms and Conditions. By accessing our website or engaging our services, you acknowledge
            and agree to be bound by these terms. It is essential to carefully read and comprehend the terms
            outlined below, as they establish the rights and responsibilities governing the relationship between you
            and Speedy Way Auto Transport.</p>
        <p>By utilizing the services of Speedy Way Auto Transport, you, as an individual user or the entity you
            represent, accept all the Terms of Service ("TERMS") presented herein. In the event of any conflict
            between these TERMS and other documents, such as a motor carrier bill of lading, tariff, or service
            guide, these TERMS will prevail and take precedence. Only Speedy Way Auto Transport is authorized to
            modify these TERMS. Any enhancements or detailed modifications to these terms will be undertaken by
            Speedy Way Auto Transport.</p>
        <p>By agreeing to these TERMS, you undertake the responsibility to read, understand, and comply with the
            outlined conditions. Your use of our services implies your acceptance of these terms and your
            commitment to adhere to the established guidelines.</p>
        <p>In case of any conflict between these TERMS and other related documents, the provisions of these
            TERMS will supersede and take precedence over the conflicting terms in the other documents. This
            ensures clarity and consistency in the contractual relationship between you and Speedy Way Auto
            Transport</p>
        <p>By continuing to access our website or engage our services, you affirm your understanding and
            acceptance of these Terms and Conditions. It is advised to regularly review these TERMS, as they may be
            subject to modifications by Speedy Way Auto Transport. If you have any questions or concerns, please
            contact us for clarification.</p>
        <p class="mb-4">Thank you for choosing Speedy Way Auto Transport. We look forward to serving you with excellence in
            auto transportation services.</p>
        <div class="wrapper mt-5">
            <h3>DEFINITIONS :</h3>
            <ol>
                <li><strong>Extra Services :</strong>  Upgrades and additional services ordered by the Customer, such as vehicle top-loading, guaranteed pick-up date, covered transport, and the transportation of additional personal belongings, among others.</li>
                <li><strong>Bill of Lading :</strong>  A document provided by the Carrier to the Customer at delivery, serving as a comprehensive record of
                    the Shipment's details, condition, Point of Origin, Destination, and other particulars regarding the Order. It functions both as a receipt and a contractual agreement between the Carrier and the Customer</li>
                <li><strong>Carrier :</strong>  A motor carrier of property licensed by the State or Federal Department of Transportation, authorized
                    to perform the transportation of the Shipment using its own means of transport under its motor carrier
                    authority. The Carrier is subject to carrier liability as a result of an express or implied undertaking to assume such liability.</li>
                <li><strong>Carrier Report :</strong>  A receipt, inspection report, Bill of Lading, shipping order, or a similar document provided by the Carrier at the Point of Origin and/or Destination.</li>
                <li><strong>COD (Collect on Delivery):</strong> Payment on delivery, where the Customer pays for the transportation services upon receiving the Shipment.</li>
                <li><strong>Customer :</strong>  The individual, company, or other entity, including its agents and representatives, placing an order for the transportation of the Shipment.</li>
                <li><strong>Customer's Agent :</strong>  An individual over the age of 18 designated by the Customer to act on the Customer's behalf or as an agent in matters related to the transportation of the Shipment.</li>
                <li><strong>Destination :</strong>  The designated drop-off location for the Shipment, as specified by the Customer or as later modified by mutual agreement between Speedy Way Auto Transport and the Customer before delivery</li>
                <li><strong>Inoperable :</strong> A state or condition in which a Shipment cannot function or be driven for any reason, including the
                    removal, alteration, damage, or deterioration of its parts such as the engine, transmission, wheels,
                    steering mechanism, brakes, tires, etc.</li>
                <li><strong>Speedy Way Auto transport :</strong> Speedy Way Auto Transport, its affiliates, and employees. Speedy Way Auto Transport operates as a transportation broker, arranging for the transportation of freight through third-party Carriers.</li>
                <li><strong>Order :</strong> The Customer's formal request for Speedy Way Auto Transport to arrange the transportation of the Customer's Shipment.</li>
                <li><strong>Order Confirmation :</strong>  Any written confirmation from Speedy Way Auto Transport to the Customer confirming the Customer's
                    Order and including other details such as the Shipment description, Point of Origin, Destination, dates, and quoted rate.</li>
                <li><strong>Point of Origin :</strong>  The designated pick-up location for the Shipment, as specified by the Customer or as later modified by
                    mutual agreement between Speedy Way Auto Transport and the Customer before transportation.</li>
                <li><strong>Shipment :</strong> The Customer's property, specifically an automobile or motorized vehicle, arranged for transportation in accordance with these TERMS.</li>
                <li><strong>Transit Period :</strong> The duration between the pickup of the Shipment from the Point of Origin and its delivery to the Destination, encompassing the entire transportation process.</li>
                <li><strong>Carrier Liability :</strong> The legal responsibility of the Carrier for any loss, damage, or delay incurred during the transportation of
                    the Shipment, as outlined by applicable laws and regulations</li>
                <li><strong>Expedited Shipping :</strong> An additional service providing quicker transportation of the Shipment than the standard delivery time, often incurring extra charges.</li>
                <li><strong>Lien :</strong> A legal right or interest that the Carrier may have in the Shipment until the transportation charges are paid in full, granting the Carrier a security interest.</li>
                <li><strong>Transit Insurance :</strong> Optional insurance coverage purchased by the Customer to protect against loss or damage to the Shipment during transportation.</li>
                <li><strong>Force Majeure :</strong> Unforeseeable circumstances or events beyond the control of Speedy Way Auto Transport or the Carrier,
                    such as natural disasters, wars, or government actions, excusing non-performance of contractual
                    obligations.
                    </li>
                <li><strong>Dispatch :</strong> The process by which Speedy Way Auto Transport assigns a Carrier to transport the Shipment, including communication with the Carrier regarding the details of the Order</li>
                <li><strong>Detention Fee :</strong> An additional charge imposed by the Carrier if the Shipment is detained or delayed beyond the agreed-upon timeframes, often due to circumstances not under the Carrier's control.</li>
                <li><strong>Subcontractor :</strong> A third-party entity engaged by the Carrier or Speedy Way Auto Transport to perform specific aspects of the transportation service, such as loading or unloading.</li>
                <li><strong>Subcontractor :</strong> A third-party entity engaged by the Carrier or Speedy Way Auto Transport to perform specific aspects of the transportation service, such as loading or unloading.</li>
                <li><strong>Prohibited Items :</strong> Goods or materials that are not permissible for transportation, either due to legal restrictions, safety concerns, or Carrier policies.</li>
            </ol>
        </div>

        <div class="wrapper">
            <h3>OUR SERVICES :</h3>
            <ol>
                <li><strong> Arrangement of Transportation :</strong> Speedy Way Auto Transport facilitates the transportation of the Customer's Shipment by engaging
                    Third-Party Carriers, adhering to the conditions outlined in these TERMS. The arrangement process
                    includes the reservation of transportation services, coordination with Carriers, and adherence to the
                    specified terms.
                    </li>
                <li><strong> Right to Refuse or Cancel :</strong> Speedy Way Auto Transport reserves the right to refuse or cancel any Order at its discretion. The
                    decision to refuse or cancel an Order may be made at any point in the process, and Speedy Way Auto Transport is not obligated to provide a detailed explanation for such decisions</li>
                <li><strong>Completion of Services :</strong> The services provided by Speedy Way Auto Transport are considered complete once a Carrier has
                    officially accepted the Customer's Order. This signifies the transition of responsibility from Speedy Way Auto Transport to the engaged Carrier.</li>
                <li><strong> Role as Transportation Broker :</strong> Speedy Way Auto Transport operates solely as a transportation broker. It does not function as a motor
                    carrier or transporter and does not take custody, physically transport, or handle the Customer's Shipment. Additionally, Speedy Way Auto Transport disclaims responsibility for the Shipment once it is in
                    the possession of the Carrier.
                    </li>                    
                <li><strong> Ocean Transportation Terms :</strong> For ocean transportation services arranged by Speedy Way Auto Transport, the terms and conditions
                    specified in the ocean Carrier's bill of lading, tariff, schedules, rates, and rules apply. Customers are advised to inquire with the ocean Carrier about the availability of extra coverage options for potential
                    loss or damage during transit. </li>
                <li><strong>Estimated Pickup and Delivery :</strong> Speedy Way Auto Transport provides an estimated pickup and delivery date for the Customer's
                    Shipment. However, customers are informed that delays may occur due to factors beyond the control of
                    Speedy Way Auto Transport. These factors include but are not limited to weather conditions,
                    government regulations, mechanical issues, and other unforeseen circumstances.</li>
                <li><strong>Delivery Guarantees :</strong> Speedy Way Auto Transport cannot guarantee specific delivery dates or times. As a result, the company
                    disclaims responsibility and liability for any losses or expenses incurred by the Customer due to delays in the transportation process.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>RESPONSIBILITIES OF THE CUSTOMER :</h3>
            <ol>
                <li><strong> Accuracy of Shipment Details :</strong> The Customer is obligated to ensure the accuracy of all information pertaining to the Shipment,
                    encompassing details such as the year, make, model, body style, trim, Point of Origin, Destination, fees, and any special instructions. This verification extends to the Order Confirmation and other associated
                    documents</li>
                <li><strong>Communication of Shipment Details :</strong> The Customer must inform Speedy Way Auto Transport about the size and condition of the Shipment at
                    the time of booking and prior to the scheduled pickup date. Timely and accurate communication is vital to facilitate a smooth transportation process.</li>
                <li><strong>Preparation of the Shipment :</strong> It is the Customer's responsibility to prepare the Shipment for transportation. This includes securing or
                    removing loose parts, fragile accessories, and low-hanging spoilers. Additionally, all non-permanent,
                    externally mounted luggage, and racks must be removed.
                    </li>
                <li><strong>Disarming Alarm Systems :</strong> If the Shipment is equipped with an alarm system, the Customer is required to disarm it or provide clear
                    instructions for disengagement. This ensures the secure and uncomplicated loading of the Shipment.</li>
                <li><strong>Notification of Personal Property :</strong> The Customer must notify Speedy Way Auto Transport and the Carrier of any personal property in the
                    Shipment at the Point of Origin. The total weight of such personal property must not exceed one hundred pounds (100 lbs.) and should be confined to the trunk or storage area of the Shipment. The
                    Customer acknowledges that the Carrier has the right to reject unsafe or unlawful personal property. It is strongly advised not to leave valuable items in the Shipment, and any inclusion of personal property is at
                    the Customer's own risk. </li>
                <li><strong>. Prohibition of Restricted Items :</strong> The Customer is strictly prohibited from loading explosives, guns, ammunition, weapons, flammable
                    products, live pets, live plants, contraband, drugs or narcotics, alcoholic beverages, or any illegal goods in the Shipment.</li>
                <li><strong>Sea Shipment Considerations :</strong> For Shipment by sea, the Customer comprehends and accepts that no personal property of any nature or
                    value, or illegal goods, will be permitted in the Shipment. The Shipment must be completely empty
                    except for OEM or factory-installed equipment. The Customer is responsible for providing all necessary
                    documents and paperwork required by U.S. and international customs. Additionally, the Customer must
                    share the vehicle identification number (VIN) and its approximate value in U.S. dollars at the time of
                    placing the Order. If the Point of Origin or Destination involves a shipping port, the Customer agrees to
                    cover any associated additional fees.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>CUSTOMER WARRANTIES :</h3>
            <ol>
                <li><strong>Compliance with Laws and Regulations :</strong> The Customer solemnly guarantees full compliance with all applicable laws, regulations, and rules
                    governing the transportation of the Shipment. This includes, but is not limited to, adherence to import
                    and export rules and customs laws in any country the Shipment may traverse. The Customer commits to providing all necessary documents and information required for compliance. Speedy Way Auto Transport
                    explicitly disclaims responsibility for any costs or losses incurred due to the Customer's failure to meet these legal obligations.</li>
                <li><strong>Responsibility for Compliance :</strong> The Customer acknowledges that ultimate responsibility for ensuring compliance with legal
                    requirements rests with them. Speedy Way Auto Transport functions solely as a facilitator and will not be held accountable for any consequences arising from the Customer's non-compliance.</li>
                <li><strong>Authorization and Legal Binding :</strong> Any agent or entity acting on behalf of the Customer warrants that they are duly authorized to represent
                    the Customer in the transportation transaction. Furthermore, they affirm having the legal authority to bind the Customer to the terms and conditions outlined in the agreement. This warranty underscores
                    the importance of valid representation and legal authorization in all dealings related to the Shipment.</li>
                <li><strong>Accuracy of Information :</strong> The Customer warrants the accuracy and completeness of all information provided to Speedy Way Auto Transport. This includes details about the Shipment, origin, destination, and any other information
                    necessary for the transportation process. Any inaccuracies in the information provided may result in additional costs or disruptions for which the Customer assumes responsibility</li>
                <li><strong>Insurance Coverage :</strong> In cases where the Customer opts for additional insurance coverage, they warrant the accuracy of the
                    declared value and condition of the Shipment. Any discrepancies may impact the validity of insurance claims, and the Customer is responsible for providing truthful and precise information.</li>
                <li><strong>Timely Communication :</strong> The Customer commits to timely communication with Speedy Way Auto Transport regarding any changes, updates, or challenges related to the Shipment. Failure to provide timely and accurate
                    information may result in disruptions or additional costs, and the Customer accepts responsibility for such consequences.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>PICKUP AND DELIVERY OF SHIPMENT :</h3>
            <ol>
                <li><strong>Acknowledgment of Potential Changes :</strong> The Customer acknowledges that alterations to the point of origin and/or destination may become necessary due to various factors, including municipal zoning restrictions, road conditions, closures,
                    presence of low-hanging trees or wires, narrow streets, and residential area constraints.</li>

                <li><strong> Scheduling Coordination :</strong> It is imperative that the Customer collaborates with Speedy Way Auto Transport to schedule the pickup and delivery of their vehicle(s). While the broker provides an estimated pickup and delivery window,
                    actual dates and times are coordinated with the carrier</li>
                <li><strong> Alternate Access Agreement :</strong> In cases where the Carrier encounters difficulties accessing the Point of Origin or Destination, the
                    Customer agrees to meet the Carrier at an alternate location. This ensures a safe and efficient pickup or drop-off of the Shipment.</li>
                <li><strong>Presence Requirement :</strong> The Customer or a designated Customer's Agent must be present at both the Point of Origin and
                    Destination for the pickup and/or delivery of the Shipment. This ensures a responsible party is available to oversee the process.</li>
                <li><strong>Inspection at Point of Origin :</strong> At the Point of Origin, the Customer or Customer's Agent is expected to inspect the Shipment alongside
                    the Carrier for pre-existing damage. The condition of the Shipment should be acknowledged by noting any pre-existing damage on the Carrier Report or Bill of Lading. This process includes signing the relevant
                    documents and obtaining a copy from the Carrier. Photographs of the Shipment from all angles are advised.</li>
                <li><strong>Careful Inspection at Destination :</strong> Upon delivery at the Destination, the Customer or Customer's Agent is required to meticulously inspect
                    the Shipment in the Carrier's presence for any potential transit damage. Any new damage must be noted as an exception on the Bill of Lading. The Customer or Customer's Agent should sign and request a final
                    copy of the Bill of Lading signed by the Carrier, serving as a conclusive Shipment condition report. It is recommended to capture photographs of the Shipment from all angles before signing the Bill of Lading</li>
                <li><strong>Confirmation through Signature :</strong> The Customer understands that signing the Carrier's Form or Bill of Lading at the Destination without any
                    notation of damage serves as confirmation that the Shipment was received in satisfactory condition. Subsequently, both Speedy Way Auto Transport and the Carrier are absolved of further responsibility.</li>
                <li><strong>Awareness of Potential Delays :</strong> The Customer is advised to comprehend that unforeseen circumstances, such as weather, traffic, or mechanical issues, may lead to delays in the pickup or delivery of their vehicle(s). In such instances, the
                    broker will collaborate with the carrier to reschedule the pickup or delivery, ensuring minimal disruption.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>CARRIER RESPONSIBILITIES :</h3>
            <ol>
                <li><strong>Proximity to Door and Safe Transportation :</strong> The Carrier is obligated to pick up and deliver the Customer's Shipment as close to the Customer's door
                    or the designated Point of Origin and Destination as is both legally and safely possible. The transportation of the Shipment must adhere to commercially reasonable standards to ensure the
                    well-being of the transported goods.</li>
                <li><strong>Issuance of Transport Documents :</strong> The Carrier may issue a Carrier Report, receipt, or Bill of Lading at the Point of Origin and/or Destination.
                    The Customer or Customer’s Agent is required to carefully read such documents as they may constitute a
                    binding contract of transportation between the Customer and the Carrier. Any disputes or queriesregarding these documents should be directly addressed with the Carrier</li>
                <li><strong>Acknowledgment of Carrier’s Terms and Conditions :</strong> The Customer acknowledges and agrees that they may be subject to the Carrier’s specific terms and
                    conditions of service, tariffs, rules, or classification. Copies of these documents must be directly requested by the Customer from the Carrier, establishing a transparent understanding of the Carrier's
                    operational framework.</li>
                <li><strong>Licensing and Insurance Compliance :</strong> The Carrier is mandated to possess the proper licenses and insurance coverage required for the
                    transportation of vehicles. This encompasses both liability and cargo insurance to effectively cover any potential damage or loss that may occur during the transport process.</li>
                <li><strong>Safe and Secure Transport :</strong> The Carrier is entrusted with the responsibility of ensuring the safe and secure transport of the
                    vehicle(s). This involves the use of appropriate equipment and adherence to established procedures designed to prevent damage or loss during the transportation journey.</li>
                <li><strong>Timely Transport Commitment :</strong> The Carrier must adhere to the agreed-upon pickup and delivery window, transporting the vehicle(s)
                    within the specified timeframe. In the event of any delays, timely communication with both the broker and the Customer is imperative to manage expectations and address any concerns.</li>
                <li><strong>Effective Communication :</strong> Throughout the transport process, the Carrier is required to maintain open and effective communication with both the broker and the Customer. This includes providing regular updates on pickup and delivery
                    times, reporting any unforeseen delays or issues, and promptly handling any necessary paperwork.</li>
                <li><strong> Thorough Inspection Process :</strong> The Carrier must conduct a thorough inspection of the vehicle(s) in collaboration with the Customer at
                    both the pickup and delivery locations. Any pre-existing damage must be accurately noted on the Bill of Lading or other transport documents, ensuring transparency and accountability throughout the
                    transportation process.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>PAYMENT OBLIGATIONS AND FEES :</h3>
            <ol>
                <li><strong>Full Payment Responsibility :</strong>The Customer is obligated to make full payment for all expenses associated with the Order and any Extra
                    Services. This payment must be made in accordance with the terms outlined in the Order Confirmation and these TERMS. No deductions, chargebacks, or reductions are permissible based on pending or
                    unfiled claims, losses, delays, or damages. Payment for Speedy Way auto transport’s services becomes due when a Carrier accepts the Order, marking the point at which services are considered rendered.</li>
                <li><strong>Payment Methods for COD Services :</strong> For services operating under COD (Collect on Delivery), the remaining balance due to the Carrier must be
                    settled upon delivery of the Shipment. Acceptable forms of payment include cash, certified funds, cashier’s check, or money order, made payable directly to the Carrier. Personal checks, debit cards, and
                    credit cards are not accepted for payment to the Carrier</li>
                <li><strong>Interest Accrual and Additional Charges :</strong> Any outstanding invoices for Speedy Way auto transport’s services will accrue interest at a rate of one
                    and a half percent (2%) per month. The Customer will be held responsible for covering any expenses incurred by Speedy Way auto transport, in addition to reasonable attorney’s fees, for the collection of
                    outstanding charges.</li>
                <li><strong>Storage Fees and Customer Responsibility :</strong> If the Customer refuses to pay fees or accept delivery from the Carrier for any reason, resulting in the
                    Shipment being placed in storage, the associated costs become the responsibility of the Customer. The Shipment may be subject to the Carrier’s lien for transportation charges until the outstanding balance is
                    settled in full. All storage and redelivery charges must be paid by the Customer, who agrees not to seek reimbursement from Speedy Way auto transport.</li>
                <li><strong>Breakdown of Fees :</strong>
                    <ol>
                        <li>
                            <strong><span>- Transportation Fee :</span></strong>
                            The primary fee covering the transport of the vehicle(s), determined by factors such as transport distance, vehicle type, and time of year.
                        </li>
                        
                        <li><strong><span>- Additional Fees :</span></strong>
                            The primary fee covering the transport of the vehicle(s), determined by factors such as transport distance, vehicle type, and time of year
                        </li>
                        <li><strong><span>- Deposit :</span></strong>
                            A deposit is mandatory to secure the transport of the vehicle(s). Typically a percentage of the total transportation fee, it is applied toward the final payment. For COD payments, the remaining balance is
                            settled upon delivery. For billing arrangements, the full payment is required once a carrier is assigned.
                        </li>
                        <li><strong><span>- Additional Fees :</span></strong>
                            Depending on specific transport arrangements, additional fees may be charged by Speedy Way auto
                            transport or the carrier. Examples include expedited shipping or storage fees if immediate delivery is not possible.
                        </li>
                        <li><strong><span>- Payment Options :</span></strong>
                            Speedy Way provides various payment options, such as credit card, debit card, bank transfer, and PayPal.
                            For payments exceeding $2000, a money transfer is required.

                        </li>
                    </ol>
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>CANCELLATION POLICY :</h3>
            <ol>
                <li><strong>Cancellation Before Carrier Acceptance :</strong> Customers have the option to cancel their Order without incurring any penalty or cost, provided it has
                    not been accepted by a Carrier</li>
                <li><strong>Cancellation After Carrier Acceptance :</strong> If the Order is canceled after acceptance by the Carrier, either by the Customer or Speedy Way auto
                    transport due to a breach of these TERMS or if the Carrier is denied pick up of the Shipment upon arrival
                    at the Point of Origin, the Customer is obligated to pay a minimum fee of $199.00. This fee covers Speedy Way auto transport's services that were already rendered. Additional fees, such as a dry run fee
                    imposed by the Carrier and other vendors, may also be applicable.</li>
                <li><strong>Refund Entitlement :</strong> Customers are entitled to a refund only for services that were not fulfilled. In cases where Extra Services
                    were paid for but not rendered, and the Shipment was successfully delivered, the sole remedy is a refund for the unfulfilled portion of the Extra Services fees.</li>
                <li><strong>Cancellation Process :</strong> All cancellation requests must be submitted in writing via email to <a class="text-primary text-decoration-underline" href="mailto:info@speedywayus.com.">info@speedywayus.com</a>.
                    Cancellations made through alternative means, such as telephone, text, chat, etc., will not be accepted.</li>
            </ol>
        </div>

        <div class="wrapper">
            <h3>LOSS, DAMAGE, OR DELAY CLAIMS :</h3>
            <ol>
                <li><strong>Broker's Liability :</strong> Speedy Way auto transport, functioning as a property transportation broker, explicitly disclaims and will
                    not be held liable for any cargo loss and damage claims for any reason.</li>
                <li><strong>Responsibility for Claims :</strong> In the event of a claim for loss or damage to a Shipment, the Customer acknowledges and agrees that
                    the party responsible for all such claims is the Carrier and not Speedy Way auto transport. It is the Customer's responsibility to initiate and file any claim directly with the Carrier who transported the Shipment.</li>
                <li><strong>Claims Reporting Process :</strong>If the Customer decides to file a claim against the Carrier, they must promptly report such claim to
                    Speedy Way auto transport. The report should be submitted within 48 hours of the delivery. This timeframe allows Speedy Way auto transport to provide the Customer with relevant documents
                    regarding the Carrier in a commercially reasonable manner</li>
                <li><strong>Legal Framework for Claims :</strong> The Customer is informed and understands that claims against motor Carriers are governed by federal
                    law, specifically the Carmack Amendment to the ICC Termination Act of 1995 (49 U.S.C. §14706). Claims
                    against ocean Carriers are typically governed by the Carriage of Goods by Sea Act (46 U.S.C. §30701). It is strongly recommended that the Customer seek independent legal advice at their sole expense regarding
                    these laws in the event of a claim.</li>
                <li><strong>Exemption from Liability :</strong> Customer acknowledges and agrees that Speedy Way Auto Transport and the Carrier are not liable for
                    any cargo loss or damage caused by acts or omissions that are beyond their control. This includes, but is not limited to, damage caused by weather conditions (such as hail or storms), acts of God, riots, strikes, 
                    political unrest, acts of terrorism, and loose, worn, or broken parts of a Shipment. Additionally, personal items in the Shipment are expressly exempted from liability.</li>
                <li><strong>Documentation Requirements :</strong> To support their claim, the Customer must provide necessary documentation, including the Bill of Lading
                    or other transport documents, photographs of the damage, and any repair estimates or receipts.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>WEBSITE CONTENT, INTELLECTUAL PROPERTY :</h3>
            <ol>
                <li>The design of this Website, the Website as a whole, and all materials that are part of and content
                    contained on the Website, including photographic images (collectively “Content”) are copyrights,
                    trademarks, trade dress and other intellectual properties owned, controlled or licensed solely by Speedy
                    Way Auto Transport and are the property of Speedy Way Auto Transport. You may store, print and
                    display the Content supplied solely for your own personal, non-commercial use. No right, title or interest
                    in any Content is granted or transferred to you as a result of any such copying or use. Except as noted
                    above, you may not reproduce, publish, transmit, distribute, display, modify, create derivative works
                    from, sell or participate in any sale of, or exploit in any way, any of the Content on the Website. Any use
                    of the Content without Speedy Way Auto Transport’s express written consent is strictly prohibited.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>PROHIBITED USES :</h3>
            <ol>
                <li>In addition to other prohibitions as set forth in the Terms and Conditions, you are prohibited from using
                    the site or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any
                    unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local
                    ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property
                    rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or discriminate
                    based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to
                    submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious
                    code that will or may be used in any way that will affect the functionality or operation of the Service or
                    of any related website, other websites, or the Internet; (h) to collect or track the personal information of
                    others; (i) to spam, phish, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k)
                    to interfere with or circumvent the security features of the Service or any related website, other
                    websites, or the Internet. We reserve the right to terminate your use of the Service or any related
                    website for violating any of the prohibited uses.</li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>LINKS TO THIRD PARTY WEBSITES :</h3>
            <ol>
                <li>The Site may contain links to websites and other resources operated by third parties other than Speedy
                    Way Auto Transport. Such links are provided solely as a convenience to you. Speedy Way Auto Transport
                    does not control such websites, and is not responsible for the content, products, services or information
                    offered by any third parties. Unless otherwise specified, the inclusion of links to such websites on the
                    Sites does not imply any endorsement of any website or the content, products or services offered,
                    advertised, endorsed or promoted by any third party, or of any company or person. If you decide to
                    access any third party websites or acquire any third party products or services, you do so entirely at your
                    own risk, and you may be subject to the terms and conditions and the privacy policies imposed by such
                    third parties.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>INDEMNIFICATION :</h3>
            <ol>
                <li>Both the Customer and the Carrier hereby agree to indemnify, defend, and hold Speedy Way Auto
                    Transport, its employees, officers, and directors (collectively referred to as "Indemnified Parties")
                    harmless from and against any and all losses, liabilities, damages, payments, settlements, judgments,
                    penalties, fines, expenses (including attorneys' fees), and costs, suits, actions, and claims (whether
                    actual, potential, threatened, or pending), brought by any person or entity. This includes, but is not
                    limited to, damages for injury or death of persons, damage to property (including real property and/or
                    the environment), claim liability, and damages arising from the acts or omissions of the indemnifying
                    party, its agents, employees, or representatives. The indemnification obligation extends to any legal
                    proceedings or claims arising out of the transportation services provided by Speedy Way Auto Transport.
                    This indemnity shall survive the termination or expiration of the contractual relationship between the
                    Customer or Carrier and Speedy Way Auto Transport.</li>
            </ol>
        </div>

        <div class="wrapper">
            <h3>LIMITATION OF LIABILITY :</h3>
            <ol>
                <li>Under no circumstances shall the total cumulative liability of Speedy Way Auto Transport, its affiliates,
                    employees, officers, or directors, for any and all claims and damages, exceed the aggregate fees
                    specifically paid by the Customer for the services rendered by Speedy Way Auto Transport. The services
                    provided by Speedy Way Auto Transport are without any expressed or implied warranties or
                    representations. Speedy Way Auto Transport explicitly disclaims all warranties, including but not limited
                    to implied warranties of title, non-infringement, merchantability, fitness for a particular purpose or use,
                    and any warranties arising from the course of dealing, usage, or trade practice.
                </li>
                <li>Speedy Way Auto Transport assumes no liability or responsibility for any direct, indirect, incidental,
                    consequential, or special damages. This includes, but is not limited to, damages resulting from loss of
                    business, lost profits, litigation, or any similar damages, irrespective of the legal theory under which such
                    claims arise. The limitations set forth in this clause apply to all aspects related to a shipment, including
                    but not limited to transportation, delays, communication, and any other services covered by these
                    terms.
                </li>    
                <li>It is expressly acknowledged and agreed that the limitations of liability established in this clause are
                    fundamental components of the agreement between the parties, and Speedy Way Auto Transport's
                    pricing and provision of services reflect the allocation of risk herein. By engaging with the services
                    offered by Speedy Way Auto Transport, both the Customer and the Carrier expressly accept and consent
                    to these limitations on liability.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>DISPUTE RESOLUTION :</h3>
            <ol>
                <li>In the event of any dispute between Speedy Way Auto Transport and the Customer or Carrier, the parties
                    commit to a multi-step resolution process. Initially, both parties shall diligently attempt to resolve the
                    dispute amicably through good-faith negotiations based on the terms outlined in the agreement. If these
                    negotiations prove unsuccessful, the parties agree to engage in mandatory arbitration as the next step.
                    The arbitration process will adhere to the rules and procedures set forth by the American Arbitration
                    Association (AAA), specifically following its Consumer Arbitration Rules and Supplementary Procedures
                    for Consumer-Related Disputes. It is emphasized that arbitration is the final and binding recourse for
                    dispute resolution, and both the Customer and Carrier pledge to accept the arbitrator's decision as
                    conclusive. Throughout the resolution efforts, the parties commit to working towards an amicable
                    solution, cooperating in good faith during arbitration proceedings, and engaging constructively in the
                    overall resolution process. This dispute resolution mechanism is considered an integral part of the
                    agreement, and by availing themselves of the services provided by Speedy Way Auto Transport, both the
                    Customer and Carrier explicitly consent to its application. The governing law for this dispute resolution
                    clause is that of the jurisdiction applicable to the agreement between the parties.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>INDEPENDENT CONTRACTOR STATUS :</h3>
            <ol>
                <li>Speedy Way Auto Transport operates as an independent contractor concerning both the Customer and
                    the Carrier. No provision in these TERMS should be construed otherwise.                    
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3> ASSIGNMENT OF RIGHTS :</h3>
            <ol>
                <li>Unless expressly stated in the TERMS, neither the Customer nor the Carrier is allowed to assign any
                    rights without the written consent of Speedy Way Auto Transport. Both parties, along with their
                    respective successors and assigns, are bound by these TERMS.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>SEVERABILITY :</h3>
            <ol>
                <li>In the event that any provision of these TERMS is deemed invalid or unenforceable, the validity of the
                    remaining provisions shall not be affected. Each provision is independent, and the invalidity of one
                    provision shall not impact the others for both the Customer and the Carrier.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>ENTIRE AGREEMENT :</h3>
            <ol>
                <li>These TERMS constitute the complete agreement between the Customer, the Carrier, and Speedy Way
                    Auto Transport. These TERMS can only be modified by Speedy Way Auto Transport. It is incumbent upon
                    both the Customer and the Carrier to read the TERMS in their entirety. By continuing with the
                    transaction, both parties signify their agreement to these TERMS.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>WAIVER OF CLAIMS OR DEFENSES :</h3>
            <ol>
                <li>Both the Customer and the Carrier expressly waive any claims or defenses based on not reading, not
                    knowing, or not understanding these TERMS. Continuing with the transaction implies acknowledgment
                    and acceptance of the TERMS in their entirety by both the Customer and the Carrier.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>FORCE MAJEURE :</h3>
            <ol>
                <li>Speedy Way Auto Transport shall not be held liable for any failure or delay in the performance of its
                    obligations under these terms and conditions when such failure or delay is caused by circumstances
                    beyond our reasonable control, including, but not limited to, acts of nature, acts of government, strikes,
                    labor disputes, equipment or network failures, pandemics, or other unforeseeable events. In such cases,
                    Speedy Way Auto Transport shall be entitled to a reasonable extension of time for the performance of its
                    obligations, and users shall not be entitled to any claims for damages or losses resulting from such
                    delays. We will make reasonable efforts to inform users of the occurrence of a force majeure event and
                    its expected duration.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>GOVERNING LAW :</h3>
            <ol>
                <li>The law applicable to the interpretation and construction of these Terms and Conditions and any
                    transaction (including purchases made on this Website) using or related to the Website, shall be the laws
                    of North Carolina, United States. You agree that all matters relating to your access to or use of the
                    Website, including all disputes, will be governed by the laws of North Carolina, United States.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3>MISCELLANEOUS :</h3>
            <ol>
                <li>If any provision of these Terms and Conditions is held to be invalid, illegal or unenforceable in any
                    respect under any applicable law or rule in any jurisdiction, such invalidity, illegality or unenforceability
                    will not affect the effectiveness or validity of any provision in any other jurisdiction, and these Terms and
                    Conditions will be reformed, construed and enforced in such jurisdiction as if such provision had never
                    been contained herein. Any headings or titles are for convenience only. The official language of these
                    Terms and Conditions exclusively shall be English. All communications and agreements between Speedy
                    Way Auto Transport and you and any proceedings in connection with these Terms and Conditions and/or
                    your use of the site exclusively shall be made in English. Speedy Way Auto Transport and you waive any
                    rights we each may have under any other law to have these Terms and Conditions written in another
                    language. Any translation of these Terms and Conditions will be for convenience only.
                </li>
            </ol>
        </div>
        <div class="wrapper">
            <h3> CONTACT INFORMATION :</h3>
            <ol>
                <li>For any questions or concerns about your use of our Services, please email us at
                    <a class="text-primary text-decoration-underline" href="mailto:info@speedywayus.com">info@speedywayus.com</a>.
                </li>
            </ol>
        </div>
    </div>
    
</section>